/* icons */
.icon-default {
  background-repeat: no-repeat;
  background-position: center;
}

.icon-bell {
  @extend .icon-default;
  background-image: url('images/icons/fugue/bell.png');
}

.icon-radar {
  @extend .icon-default;
  background-image: url('images/icons/fugue/radar.png');
}

.icon-question {
  @extend .icon-default;
  background-image: url('images/icons/fugue/question.png');
}

.icon-exclamation {
  @extend .icon-default;
  background-image: url('images/icons/fugue/exclamation-white.png');
}

.x-grid-row-editor-buttons {
  left: 200px !important;
}

.icon-gear {
  @extend .icon-default;
  background-image: url('images/icons/fugue/gear.png');
}

.icon-users {
  @extend .icon-default;
  background-image: url('images/icons/fugue/users.png');
}

.icon-plus {
  @extend .icon-default;
  background-image: url('images/icons/fugue/plus-button.png');
}

.icon-minus {
  @extend .icon-default;
  background-image: url('images/icons/fugue/minus-button.png');
}

.icon-reports {
  @extend .icon-default;
  background-image: url('images/icons/fugue/reports-stack.png');
}

.icon-report {
  @extend .icon-default;
  background-image: url('images/icons/fugue/report.png');
}

.arrow-r-ico {
  &.opened {
    background-image: url('images/icons_custom/arrow-opened.png') !important;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.closed {
    background-image: url('images/icons_custom/arrow-details-table-closed.png') !important;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  &.opened:focus {
    outline: 1px dotted #333333;
  }
  &.closed:focus {
    outline: 1px dotted #333333;
  }
  &:focus {
    outline: 1px dotted #333333;
  }
  /*IE8 bug-fix:*/
  .x-frame.x-table-plain {
    display: none;
  }
  .x-btn-default-small-mc, .x-btn-inner-default-small {
    padding: 0 !important;
  }
}

.icon-report-arrow {
  @extend .icon-default;
  background-image: url('images/icons/fugue/report--arrow.png');
}

.icon-applications {
  @extend .icon-default;
  background-image: url('images/icons/fugue/applications.png') !important;
  /*IE8 bug-fix:*/
  .x-btn-default-small-mc {
    background: none !important;
  }
}

.icon-available {
  //@extend .icon-default;
  //background-image: url('images/icons/fugue/document-available.png');
  background-image: url('images/icons/fugue/document-available.png') !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-goz {
  background-image: url('images/icons/fugue/document-goz.png') !important;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 15px;
  min-width: 15px;
}

.icon-search {
  @extend .icon-default;
  background-image: url('images/icons_custom/search_property-32.png');
}

.icon-bullet-red {
  @extend .icon-default;
  background-image: url('images/icons_custom/bullet_red.png');
}

.icon-bullet-yellow {
  @extend .icon-default;
  background-image: url('images/icons_custom/bullet_yellow.png');
}

.icon-exclamation-red {
  @extend .icon-default;
  background-image: url('images/icons/fugue/exclamation-red.png');
}

.icon-exclamation-yellow {
  @extend .icon-default;
  background-image: url('images/icons/fugue/exclamation-circle.png');
}

.icon-export {
  @extend .icon-default;
  background-image: url('images/icons/fugue/table-export.png');
}

.icon-applications-stack {
  @extend .icon-default;
  background-image: url('images/icons/fugue/applications-stack.png');
}

.icon-border-color {
  @extend .icon-default;
  background-image: url('images/icons/fugue/border-color.png');
}

.blue-document-convert {
  @extend .icon-default;
  background-image: url('images/icons/fugue/blue-document-convert.png');
}

.icon-big-plus {
  @extend .icon-default;
  background-image: url('images/icons/fugue/plus.png');
}

.icon-document-plus {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document--plus.png');
}

.icon-document-text {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document-text.png');
}

.folder-in {
  @extend .icon-default;
  background-image: url('images/icons/fugue/folder-in.png');
}


.icon-document-kgrko {
  @extend .icon-default;
  background-position: left;
  background-image: url('images/icons/fugue/document--kgro.png');
}

.icon-paper-clip-kgrko {
  @extend .icon-default;
  background-position: left;
  background-image: url('images/icons/fugue/paper-clip.png');
}

.icon-document-kgrko-attach {
  @extend .icon-default;
  background-image: url('images/icons/fugue/paper-clip.png'), url('images/icons/fugue/document--kgro.png');
  background-repeat: no-repeat;
  background-position: 0px 5px, 20px 5px;
}

.icon-document-exclamation {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document--exclamation.png');
}

.icon-document-minus {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document--minus.png');
}

.icon-document-search {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document-search-result.png');
}

.icon-document-history {
  @extend .icon-default;
  background-image: url('images/icons/fugue/edit-list-rtl.png');
}

.icon-cell-edit {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document--pencil.png');
}

.icon-save-data {
  @extend .icon-default;
  background-image: url('images/icons/fugue/tick.png');
}

.icon-document-to-send {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document--arrow.png');
}

.icon-backtothe-primitive {
  @extend .icon-default;
  background-image: url('images/icons/fugue/cross.png');
}

.icon-notebook-pencil {
  @extend .icon-default;
  background-image: url('images/icons/fugue/notebook--pencil.png');
}

.icon-paper-clip {
  @extend .icon-default;
  background-image: url('images/icons/fugue/paper-clip.png');
}

.icon-document-list {
  @extend .icon-default;
  background-image: url('images/icons/fugue/document-list.png');
}

.f-ico-default {
  @extend .icon-default;
  background-size: contain;
  display: block;
  float: left;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.f-ico-xls, .f-ico-xlsx{
  @extend .f-ico-default;
  background-image: url('images/icons_custom/f-ico-exl.png');
}

.f-ico-png {
  @extend .f-ico-default;
  background-image: url('images/icons_custom/f-ico-png.png');
}

.f-ico-doc, .f-ico-docx {
  @extend .f-ico-default;
  background-image: url('images/icons_custom/f-ico-wrd.png');
}

.download-arrow-ico
{
  @extend .f-ico-default;
  cursor: pointer;
  background-image: url('images/icons_custom/download-arrow-ico.png');
}
.arrow-ico-opened {
  background: url('images/icons_custom/arrow-opened.png') center center no-repeat;
}

.arrow-ico-closed {
  background: url('images/icons_custom/arrow-details-table-closed.png') center center no-repeat;
}
/* icons; */

.app-header {
  background-color: #ffffff;
  .app-header-logo {
    background: url("images/sbr_logo_200x50.png") no-repeat center;
    background-size: contain;
    width: 200px;
    height: 50px;
    margin: 0px 0px 0px 20px;
  }
  .app-header-logo-fccm {
    background: url("images/oracle-fccm_logo_190x50.png") no-repeat center;
    background-size: contain;
    width: 190px;
    height: 50px;
    margin: 0px 20px 0px 10px;
  }
  .app-header-title {
    top: 7px;
    .app-header-title-aml {
      font-size: 16px;
      font-weight: bold;
      color: green;
    }
    .app-header-title-module {
      font-size: 12px;
      color: darkgreen;
    }
  }
  .app-header-user {
    text-align: right;
    top: 10px;
    margin: 0px 20px;
    .app-header-user-name {
      font-size: 12px;
      font-weight: bold;
      color: green;
    }
    .app-header-user-role {
      font-size: 12px;
      color: darkgreen;
    }
  }
}

.x-tab-focus.x-tab-default .x-tab-button::before {
  content: none;
}

.jet-helpWrapEl {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  overflow: hidden;
  cursor: help;
  .jet-helpEl {
    width: 16px;
    height: 16px;
    margin: 0 1px 0 3px;
    background: url('images/icons_custom/help-32.png') no-repeat;
    background-size: contain;
    &.isIE8 {
      background: url('images/icons_custom/help-16.png') no-repeat;
    }
  }
}

.x-message-box .x-window-body {
  background-color: #e8e8e8;
}

.app-opokrule-grid {
  .red .x-grid-cell {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    background-color: #ffe2e2;
    color: #990000;
  }
  .yellow .x-grid-cell {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    background-color: #fdffd4;
    color: #605200;
  }
  .icon {
    height: 13px;
  }
}

.app-opoktest-tabcount .text {
  text-align: right;
  padding-top: 3px;
  font-size: 1em;
}

.lexeme {
  font-weight: bold;
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
  &.blue {
    color: blue;
  }
  &.brown {
    color: brown;
  }
}

.app-opoktest-footer {
  .emptyContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    .emptyText {
      position: relative;
      top: 45%;
      font-weight: bold;
      font-size: 1em;
      color: darkgrey;
    }
  }
  .table,.x-table-layout {
    width: 100%;
    .hr {
      width: 100%;
      min-width: 800px;
      padding: 0px;
      hr {
        border: 0px solid #666666;
        border-top-width: 1px;
      }
    }
    .label {
      vertical-align: top;
      width: 15%;
      min-width: 200px;
    }
    .labelCol2 {
      vertical-align: top;
      width: 50%;
      min-width: 400px;
      font-weight: bold;
    }
    .value {
      width: 35%;
      min-width: 200px;
    }
    .valueCol3 {
      width: 85%;
      min-width: 600px;
    }
  }
}

.app-monitoring-alerts {
  .counter {
    padding: 5px;
  }
  .x-grid-cell-inner-action-col {
    font-size: 1em;
    text-align: right;
  }
  .x-splitter {
    display: none;
  }
}

.aml-tree-panel {
  .x-tree-icon-leaf {
    background-image: url('images/icons/fugue/card-small.png');
  }
  .x-tree-icon-parent {
    background-image: url('images/icons/fugue/card.png');
    +.x-tree-node-text {
      font-weight: bold;
    }
  }
  .x-box-target > div:nth-child(2) {
    .x-grid-cell-inner {
      font-weight: bold;
    }
  }
}

.x-form-clear-trigger {
  background-image: url('images/form/clear-trigger.gif') !important;
}
.app-alert-detailspanel,
.app-alert-oes321detailspanel {
  .app-details-table-tgl-btn {
    &.opened {
      background-image: url('images/icons_custom/arrow-opened.png') !important;
      background-color: transparent !important;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.closed {
      background-image: url('images/icons_custom/arrow-details-table-closed.png') !important;
      background-color: transparent !important;;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.opened:focus {
      outline: 1px dotted #333333;
    }
    &.closed:focus {
      outline: 1px dotted #333333;
    }
    &:focus {
      outline: 1px dotted #333333;
    }
    /*IE8 bug-fix:*/
    .x-frame.x-table-plain {
      display: none;
    }
    .x-btn-default-small-mc,.x-btn-inner-default-small {
      padding: 0 !important;
    }
  }

  table {
    div.arrow-ico
    {
      color: transparent;
      font-size: 0px;
      width: 12px;
      height: 12px;
      cursor: pointer;
      position: absolute;
      margin-top: -12px;
      margin-left: 200px;
    }
    div.arrow-ico.opened {
      background: url('images/icons_custom/arrow-opened.png') center center no-repeat;
    }
    div.arrow-ico.closed {
      background: url('images/icons_custom/arrow-details-table-closed.png') center center no-repeat;
    }
    div.arrow-ico:focus,  div.arrow-ico.closed:focus, div.arrow-ico.opened:focus {  outline: 1px dotted #333333; }
    tr.blue {
      td {
        background: #d7e5f2;
      }
    }
  }
  .details-table{
    width: 100%;
    td {
      padding: 5px;
    }
  }
  table{
    width: 100%;
    border-collapse: collapse;
    &.operation-info,
    &.addresses-info,
    &.id-documents-info,
    &.contacts-info,
    &.accounts-info,
    &.emails-info,
    &.links-info{
      td {
        padding: 8px;
        word-break: break-word;
      }
    }
    &.payer-info,
    &.registration-info,
    &.location-info,
    &.document-info {
      td {
        padding: 5px
      }
    }
  }
}
.app-alert-oes321detailspanel {
  .details-table td {
    padding: 9px;
  }

  .border-right-1 {
    border-right-width: 1px !important;
    padding-right: 20px;
  }

  .jet-helpWrapEl {
    vertical-align: top;
    padding-top: 3px;
  }
}
.app-oes321detailspanel-operationtab {
  .header {
    border-bottom: 1px solid black !important;
    .arrow-ico {
      &.opened {
        background-image: url('images/icons_custom/arrow-opened.png') !important;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.closed {
        background-image: url('images/icons_custom/arrow-details-table-closed.png') !important;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.opened:focus {
        outline: 1px dotted #333333;
      }
      &.closed:focus {
        outline: 1px dotted #333333;
      }
      &:focus {
        outline: 1px dotted #333333;
      }
      /*IE8 bug-fix:*/
      .x-frame.x-table-plain {
        display: none;
      }
      .x-btn-default-small-mc, .x-btn-inner-default-small {
        padding: 0 !important;
      }
    }
  }
}

.v-align-middle {
  vertical-align: middle !important;
}

.border-disable{
  input {
    background: none;
  }
}

.bold-text{
  input {
    font-weight: bold!important;
  }
}

input::-ms-clear {
  display: none;
}

.icon-import {
  @extend .icon-default;
  background-image: url('images/icons_custom/download-mac-os.png');
}

.icon-cute-ball-go {
  @extend .icon-default;
  width:16px;height:16px;margin:0 1px 0 1px;
  background-image: url('images/icons_custom/cute-ball-go-icon.png');
}

.icon-error-button {
  @extend .icon-default;
  width:16px;height:16px;margin:0 1px 0 1px;
  background-image: url('images/icons_custom/error-icon.png');
}

.icon-button-page-next-alert {
  @extend .icon-default;
  width:16px;height:16px;margin:0 1px 0 1px;
  background-image: url('images/icons_custom/blue-document-page-next.png');
}

.icon-button-page-previous-alert {
  @extend .icon-default;
  width:16px;height:16px;margin:0 1px 0 1px;
  background-image: url('images/icons_custom/blue-document-page-previous.png');
}

.icon-button-triangle-down {
  @extend .icon-default;
  width:16px;height:16px;margin:0 1px 0 1px;
  background-image: url('images/icons_custom/triangle_down.png');
}

.icon-button-menu-down {
  @extend .icon-default;
  width:16px;height:16px;margin:0 1px 0 1px;
  background-image: url('images/icons_custom/triangle_down.png');
}